.banner.banner-purple {
    background-color: purple;
}


.banner p {
    padding-top: 100px;
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
}


.banner p.banner-white{
    color: white;
}

.banner p.banner-red{
    color: red;
}