
.header .logo {
    width: 64px;
    height: 64px;
    margin-top: 18px;
}

.header .company-name {
    font-size: 3em;
    font-family: arial;
    font-weight: bold;
    position: relative;
    top: 16px;
}
.header .tag-line {
    font-size: 1em;
    font-family: arial;
    position: relative;
    left: -150px;
    top: 32px;
}

.purple {
    color: purple;
}

.grey {
    color: grey;
}